/* 河道頭像區塊 */

.avatar {
    display: flex;
    width: 100%;
    padding: 16px 0;

    //頭像
    .avatar-img {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }

    //頭像右側文字內容
    .avatar-content {
        flex: 1 1 auto;
        overflow: hidden;
    }

    .avatar-info {
        font-weight: bold;
        line-height: 1.75;
        color: #292929;
        @include singleEllipsis;

        span {
            background: url(../img/icon-arrow-word-right.svg) no-repeat;
            background-size: 16px;
            background-position: right top 3px;
            padding-right: 20px;
            margin-bottom: 0;
            flex: 0 1 auto;

            &:last-of-type {
                background: none;
                padding-right: 0;
            }
        }

        //出現連結小手
        .cursorPointer {
            cursor: pointer;
        }

        &__p16 {
            font-size: 16px;
        }
        //回覆用文字
        &__p14 {
            font-size: 14px;
        }
    }

    .avatar-txt {
        font-size: 12px;
        line-height: 1.5;
        color: #7e7e7e;
        margin-bottom: 0;
    }

    //input樣式的按鈕
    .avatar-btn {
        width: 100%;
        button {
            width: 100%;
            font-size: 16px;
            color: #a9a9a9;
            padding-left: 12px;
            line-height: 44px;
            border-radius: 4px;
            border: solid 1px #eee;
            background-color: #eee;
            height: 44px;
            text-align: left;
            &:focus {
                color: #a9a9a9 !important;
                background-color: #eee !important;
            }
        }
    }

    //多行輸入(最外層)
    .avatar-textarea {
        width: 100%;

        .form-group {
            margin-bottom: 0;

            ::placeholder {
                font-size: 16px;
                font-weight: bold;
                line-height: 1.75;
                color: #a9a9a9;
            }
            
            //輸入區1行高度
            textarea {
                height: 44px;
                resize: none;
                background-color: #eee;
            }
    
            //字數限制(先隱藏)
            p {
                display: none;
            }
        }

        button {
            display: none;
        }

        &.open {

            .form-group {
                border: solid 1px #ff7800;
                background-color: #eee;
                border-radius: 4px;
                margin-bottom: 8px;
            }

            textarea {
                height: 80px;
            }

            p {
                display: block;
                font-size: 12px;
                color: #7e7e7e;
                text-align: right;
                margin: 0 12px 8px 0;
            }

            button {
                display: block;
                font-size: 14px;
                min-width: auto;
            }
        }
    }
}